body {
  margin:0;
  background:transparent;
  overflow:hidden;
  font-family: "Arial Rounded MT Bold", sans-serif;
}

#overlay {
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

#heart {
  width:200px;
  transition: transform 0.05s linear;
  filter:
    drop-shadow(0 0 10px #ff8ad6)
    drop-shadow(0 0 25px #ff1f88);
}

#bpm {
  margin-top:15px;
  color:#ff4fa3;
  font-size:32px;
  text-shadow:
    0 0 10px #ff8ad6,
    0 0 20px #ff1f88;
}

#setup {
  position:fixed;
  bottom:20px;
  left:20px;
  background:#ffd6ec;
  padding:15px;
  border-radius:15px;
}
