body {
  margin:0;
  background:transparent;
  overflow:hidden;
  font-family: "Arial Rounded MT Bold", sans-serif;
}

#overlay {
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

#text {
  font-size:4vw;
  color:#ff4fa3;
  font-weight:bold;
  text-shadow:
    0 0 10px #ff8ad6,
    0 0 30px #ff1f88,
    0 0 60px #ff4fa3;
  transform:scale(1);
}

#setup {
  position:fixed;
  bottom:20px;
  left:20px;
  background:#ffd6ec;
  padding:15px;
  border-radius:15px;
}
